# Created by https://www.gitignore.io/api/venv
# Edit at https://www.gitignore.io/?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# End of https://www.gitignore.io/api/venv

data/enwiki-2018-09.full.xml
data/entity2wikidata.json
data/enwiki-latest-pages-articles.xml

data/links.db
data/links.db-journal
data/matches.db
data/matches.db-journal

__pycache__/
