# Created by https://www.gitignore.io/api/venv
# Edit at https://www.gitignore.io/?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# End of https://www.gitignore.io/api/venv

enwiki-latest-pages-articles.xml
enwiki-latest-pages-articles.zip
links.db
links.db-journal

entity2wikidata.json
enwiki-2018-09.full.xml
matches.db
matches.db-journal
__pycache__/
